#root {
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  padding-left: 4%;
  padding-right: 4%;
  box-sizing: border-box;
}

header {
  position: absolute;
  top: -20%;
  left: 0;
  z-index: 1;
  width: 100%;
  .row {
    display: flex;
    align-items: center;
    .column {
      width: 100%;
      .logo {
        display: flex;
        .logo-text {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          flex-direction: column;
          .text-up {
            a {
              font-size: .5rem;
              color: #363636;
            }
          }
          .text-down {
            a {
              color: #363636;
              font-size: 1.2rem;
              font-weight: 600;
            }
          }
        }
      }
      .menu {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        position: relative;
        nav {
          margin-top: 1rem;
          top: 100%;
          background-color: #B276E6;
          position: absolute;
          border-radius: .25rem;
          ul {
            list-style: none;
            margin: .5rem;
            padding-left: 1rem;
            border-radius: .5rem;
            li {
              a {
                font-size: .75rem;
              }
            }
          }
        }
      }
    }
  }
}

.hero-section {
  height: 100vh;
  overflow: hidden;
}

.left {
  width: 0%;
  flex: 0 0 0%;
  max-width: 0%;
  height: 100%;
  background-color: #FFB633;
  left: -4%;
  padding-right: 4%;
  position: absolute;
}

.right {
  width: 100%;
  flex: 0 0 60%;
  max-width: 60%;
  height: 100%;
  right: 0%;
  position: absolute;
}

.hero-content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.introduction {
  position: relative;
  flex: 0 0 25%;
  max-width: 25%;
  left: -100%;
}

.caption h2 {
  font-size: 5rem;
  color: #2C2C2C;
  letter-spacing: normal;
  line-height: normal;
}

.caption p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #2C2C2C;
  margin: .5rem 0;
  font-weight: 500;
}

.introduction .caption {
  margin-bottom: 3rem;
}

.action-btn {
  width: 100%;
}

.action-btn button {
  border: none;
  border-radius: 3px;
  padding: 1rem 2rem;
  background-color: #2C2C2C;
  color: #f4f4f4;
  font-size: 1.2rem;
  cursor: pointer;
}

.me-photo {
  position: relative;
  bottom: -100%; // Start off-screen at the bottom
  left: 0%;
  z-index: 3;
  flex: 0 0 25%;
  max-width: 25%;
  svg {
    margin-left: -25%;
  }
}

.job_description {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  right: -100%; // Start off-screen to the right
  display: flex;
  justify-content: flex-end;
  .wrapper {
    padding-left: 15%;
  }
  h1 {
    color: #FFB633;
    font-size: 6rem;
  }
  p {
    font-size: 1.5rem;
  }
}

section:not(#hero) {
  padding: 3rem 0;
  .headline {
    flex: 0 0 50%;
    max-width: 50%;
    hr {
      width: 4rem;
      text-align: left;
      margin: 0;
      border-color: #FFB633;
      border-width: 2px;
    }
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .column {
      display: flex;
      gap: 1rem;
    }
  }
}

section#services {
  .row {
    .column {
      .services {
        padding: 3rem 2rem;
        .subtitle span {
          text-decoration: underline;
          font-weight: 500;
        }
      }
    }
    .design-service {
      flex: 0 0 40%;
      max-width: calc(40% - 1rem);
      background-color: #37CEFD;
      box-sizing: border-box;
    }
    .development-service {
      flex: 0 0 60%;
      max-width: calc(60% - 1rem);
      background-color: #FFB633;
      box-sizing: border-box;
    }
    .mobile-service {
      flex: 0 0 30%;
      max-width: calc(30% - 1rem);
      background-color: #EF59BC;
      box-sizing: border-box;
    }
    .marketing-service {
      flex: 0 0 33.33%;
      max-width: calc(33.33% - 1rem);
      background-color: #33CB86;
      box-sizing: border-box;
    }
    .cloud-service {
      flex: 0 0 36.66%;
      max-width: calc(36.66% - 1rem);
      background-color: #B276E6;
      box-sizing: border-box;
    }
  }
}

section#projects {
  background-color: #2C2C2C;
  padding: 5rem 0;
  .row {
    margin-bottom: 1rem;
    .column {
      width: 100%;
    }
  }
  .nav-project {
    nav {
      ul {
        display: flex;
        list-style: none;
        padding: 0;
        li {
          margin-right: 1rem;
          cursor: pointer;
          &:hover {
            color: #FFB633;
          }
        }
      }
    }
  }
}

.slick-slider {
  display: flex;
  flex-wrap: wrap;
  .slick-arrow {
    display: flex;
    align-items: center;
    button {
      padding: .25rem;
      margin: 0;
      width: 35px;
      height: 35px;
      background-color: #444;
      border-radius: 50%;
      cursor: pointer;
      border: none;
      box-sizing: border-box;
    }
  }
  .slick-disabled {
    button {
      opacity: .3;
    }
  }
}

.slick-prev {
  position: relative;
  top: 50%;
}

.slick-list {
  overflow: hidden;
  flex: 1;
}
.slick-track {
  display: flex;
}

.slick-dots {
  width: 100%;
  list-style: none;
  display: flex!important;
  justify-content: center;
  margin-top: 3rem;
  .slick-active .dot {
    background-color: #FFB633!important;
  }
}

.slick-slide {
  display: flex;
  justify-content: space-between;
  & div {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }
}

.slider-card {
  border-radius: 1rem;
  box-sizing: border-box;
  height: 500px;
  display: flex!important;
  flex-wrap: wrap;
  align-items: stretch;
  overflow: hidden;
  .slider-card__card-media {
    height: 50%;
    max-height: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    box-sizing: border-box;
    margin: 1rem;
    .logo {
      display: flex;
      justify-content: flex-end;
      padding: 0;
    }
    .project-image {
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      object-fit: cover;
      overflow: visible;
      img {
        display: block;
        margin: auto;
        object-fit: cover;
        max-height: 100%;
        width: auto;
        max-width: 100%;
        height: 100%;
        overflow: visible;
      }
    }
  }
  .slider-card__card-content {
    margin: auto;
    text-align: center;
  }
  .slider-card__card-actions {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 .25rem;
    }
    button {
      border: thin solid #f4f4f4;
      border-radius: .25rem;
      background-color: transparent;
      padding: .75rem 1rem;
      color: #f4f4f4;
      box-sizing: border-box;
      cursor: pointer;
      width: 100%;
    }
    .btn-preview {
      background-color: #f4f4f4;
      color: black;
    }
    .link-preview {
      margin-left: 0;
    }
    .link-view-code {
      margin-right: 0;
    }
  }
}

.black {
  background: linear-gradient(90deg, #363636, #474747);
}

.blue {
  background: linear-gradient(90deg, #06799C, #36CFFF);
}

.yellow {
  background: linear-gradient(90deg, #EE9900, #FFBD47);
}

.green {
  background: linear-gradient(90deg, #33CB86, #65FFB9);
}

.orange {
  background: linear-gradient(90deg, #ff6a00, #ff8229);
}

.pink {
  background: linear-gradient(90deg, #EF59BC, #ff6fcf);
}

.purple {
  background: linear-gradient(90deg, #B276E6, #c889ff);
}

.login-dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  .login-dialog-content {
    width: 300px;
    height: auto;
    background-color: #f4f4f4;
    border-radius: .5rem;
    padding: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    .close-btn {
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
    h3 {
      width: 100%;
      color: #2C2C2C;
      margin-bottom: 1rem;
      padding-bottom: .5rem;
      border-bottom: thin solid #888;
    }
    input {
      width: 100%;
      margin-bottom: .5rem;
      border: none;
      padding: .5rem .25rem;
      border-radius: .5rem;
    }
    .close-btn {
      cursor: pointer;
      &:hover {
        background-color: #EF59BC;
      }
    }
    .login-btn {
      width: 100%;
      border: none;
      background-color: #36CFFF;
      padding: .5rem 2rem;
      border-radius: .5rem;
      cursor: pointer;
      &:hover {
        background-color: #11bcf0;
      }
    }
  }
}

.back-office {
  overflow-x: scroll;
  table {
    thead, tbody {
      th {
        max-width: 300px;
        min-width: 300px;
      }
      td {
        max-width: 300px;
        min-width: 300px;
        overflow: hidden;
        input {
          width: 100%;
          box-sizing: border-box;
          padding: .5rem .2rem;
        }
        select {
          width: 100%;
          box-sizing: border-box;
          padding: .5rem 0;
        }
      }
      tr:nth-child(even) {
        background-color: #363636;
      }
    }
    thead {
      background-color: #363636;
    }
    .action-btns {
      width: 50%;
      padding: .5rem 0;
      border-radius: .25rem;
      cursor: pointer;
      &--create {
        width: 100%;
      }
    }
    .save-btn {
      background-color: green;
      color: #f4f4f4;
    }
    .edit-btn {
      background-color: blueviolet;
      color: #f4f4f4;
    }
    .delete-btn {
      background-color: red;
      color: #f4f4f4;
    }
    
  }
}

.back-office::-webkit-scrollbar {
  width: 2px;
  height: 6px;
}
.back-office::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #66C7DC; 
  border-radius: 10px;
}
 
/* Handle */
.back-office::-webkit-scrollbar-thumb {
  background: #fff; 
  border-radius: 50px;
}

/* Handle on hover */
.back-office::-webkit-scrollbar-thumb:hover {
  background: #66C7DC; 
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
